body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.logo {
  padding-left: 30px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.nav-and-connect {
  display: flex;
  align-items: stretch;
  margin-right: 25px;
}

.nav {
  display: flex;
  align-items: stretch;
  border-top: #FFFFFF solid;
}

.nav:hover {
  border-top: solid #0065FF;
  color: #0065FF;
}

.navlink-button {
  align-self: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin: 0 35px;
}
a{
  color: unset;
}
.menulogin-button {
  padding-top: 2px;
  border: none;
  border-top: solid #FFFFFF;
  margin: 0 20px;
  background-color: inherit;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #0065FF;
}

.announcement {
  padding-left: 30px;
}

.promo {
  padding-left: 30px;
  margin-top: -10px;
}

.search-bar {
  display: flex;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-bottom: 15px;
}

.search-bar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #F2F2F2 solid 1px;
  border-radius: 16px 0 0 16px;
  background-color: #F2F2F2;
  height: 51px;
  width: 52px;
  position: relative;
}

.search-bar-typing {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: large;
  display: block;
  padding-left: 20px;
  margin-right: -3px;
  margin-left: -3px;
  border: #F2F2F2 solid 1px;
  width: 206px;
}
input:focus{
  outline: none;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}
::placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: large;
  color: black;
  opacity: 1; /* Firefox */
}
input:focus::placeholder{
  color:transparent;
}
.search-bar-button {
  border: #0065ff solid 1px;
  border-radius: 0 16px 16px 0;
  background-color: #0065ff;
  width: 134px;
  cursor: pointer;
}
.search-icon{
  display: none;
}
.search-bar-button-text {
  font-family: 'Raleway', sans-serif;
  font-size: large;
  font-weight: bold;
  color: #FFFFFF;
  width: fit-content;
  padding: 0 10px 0 10px;
}

.info-block {
  display: flex;
  padding-left: 54px;
}

.info-button {
  font-family: 'Raleway', sans-serif;
  border-radius: 49px;
  border: 2px solid #DCDCDC;
  background-color: #FFFFFF;
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-right: 15px;
  margin-top: -3px;
}
.info-container{
  display: flex;
  margin-left: 30px;
  margin-right: 5px;
  margin-bottom: 15px;
  margin-top: 25px;
}
.fa-info {
  color: #0065ff;
}

.filters {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0 0 35px;
}

.filter-title {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filter-buttons{
  display: flex;
  justify-content: flex-start;
}
.filter-button {
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  border-radius: 25px;
  border: 2px solid #DCDCDC;
  background-color: #FFFFFF;
  height: 46px;
  width: fit-content;
  margin: 10px;
  padding: 0 5px 0 0;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #DEEBFF;
  border-color: #DEEBFF;
}
.filter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -2px;
  background-color: #DEEBFF;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  cursor: pointer;
}

.filter-text {
  margin: 15px;
}
.fa-money-bill-wave {
  color: #0065ff;
}

.fa-child {
  color: #0065ff;
  background-color: #DEEBFF;
  border-radius: 50px;
  background-size: 49px;
}

.fa-heart {
  color: #0065ff;
  background-color: #DEEBFF;
  border-radius: 50px;
  background-size: 49px;
}

.fa-dog {
  color: #0065ff;
  background-color: #DEEBFF;
  border-radius: 50px;
  background-size: 49px;
}

.accomodation-title {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 22px;
}

.popular-title {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 22px;
}

.card-accomodation {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 236px;
  border-radius: 20px;
  padding: 5px 5px 8px;
  line-height: 3px;
  display: inline-block;
  margin: 16px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.accomodation {
  display: block;
  background-color: #F2F2F2;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  border-radius: 20px;
  width: 850px;
}

.card-accomodation:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.accomodationimg {
  border-radius: 16px 16px 0 0;
  width: 236px;
  height: 114px;
  object-fit: cover;
}

.accomodation-container {
  padding: 1px 10px 4px 10px;
}

.fa-star {
  color: #0065ff;
  font-size: 12px;
}

.stars {
  word-spacing: -4px;
}

.fa-star.empty {
  color: #DCDCDC;
}

.tarif {
  font-size: 14px;
}

.popular-tarif {
  font-size: 14px;
  float: inherit;

}

.test-button {
  font-family: 'Raleway', sans-serif;
  border: 2px solid #DCDCDC;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.more-accomodation {
  cursor: pointer;
  margin-left: 20px;
}

.popular {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding: 10px 20px;
  /* margin: 0 30px; */
  margin-left: 40px;
  margin-right: 20px;
  border-radius: 20px;
  width: fit-content;
}

.fa-chart-line {
  float: right;
  padding-right: 20px;
  cursor: pointer;
}

.card-popular {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 343px;
  border-radius: 20px;
  padding: 5px 5px 5px;
  line-height: 18px;
  display: flex;
  margin: 16px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.card-popular:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.popular-container {
  margin: 5px 20px;
}

.card-popular-title {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.popularimg {
  border-radius: 16px 0 0 16px;
  width: 127px;
  height: 133px;
  object-fit: cover;
}

.popular-stars {
  word-spacing: -4px;
  margin-top: 25px;
}

.hotels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  margin: 0 20px;
}
.activity{
  display: flex;
  justify-content: center;
}
.activities-title {
  display: flex;
  justify-content: start;
  margin-left: 35px;
  padding-top: 40px;
  font-size: 22px;
  width:1350px;
}

.activities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -15px;
  margin-left: 15px;
}

.activity-container {
  justify-content: center;
}

.card-activities {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 301px;
  border-radius: 20px;
  padding: 0 0 8px;
  line-height: 3px;
  display: inline-block;
  margin: 22px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.card-activities:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-activities-title {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
}

.activities-port-img {
  border-radius: 16px 16px 0 0;
  width: 301px;
  height: 396px;
  object-fit: none;
  object-position: 53% 20%;
}

.activities-calanques-img {
  border-radius: 16px 16px 0 0;
  width: 301px;
  height: 397px;
  object-fit: cover;
  object-position: 45% 75%;
  filter: brightness(125%) contrast(1.1) saturate(110%);
}

.activities-fort-island {
  display: flex;
  flex-direction: column;
}

.activities-fort-img {
  border-radius: 16px 16px 0 0;
  width: 301px;
  height: 179px;
  object-fit: cover;
  object-position: 0 40%;
}

.activities-island-img {
  border-radius: 16px 16px 0 0;
  width: 301px;
  height: 109px;
  object-fit: cover;
  object-position: 0 19%;
}

.activities-garde-longchamp {
  display: flex;
  flex-direction: column;
}

.activities-notre-dame-img {
  border-radius: 16px 16px 0 0;
  width: 301px;
  height: 140px;
  object-fit: cover;
  object-position: 0 1%;
}

.activities-longchamp-img {
  border-radius: 16px 16px 0 0;
  width: 301px;
  height: 153px;
  object-fit: cover;
  object-position: 0 10%;
}

.page-bottom {
  display: flex;
  flex-direction: row;
  background-color: #F2F2F2;
  margin-top: 40px;
}

.bottom {
  line-height: 30px;
  width: 450px;
  height: 217px;
}

.bottom ul {
  list-style-type: none;
}

.bottom-link {
  border: none;
  color: black;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.bottom-link:hover {
  font-weight: bold;
}

.footer-titles {
  margin-bottom: 15px;
  margin-top: 35px;
}
html{
  width: unset; /* useless modif */
}
  /* // Small devices (landscape phones, 375px and up) */
@media screen and (max-width: 600px) {
  main{
    margin-left: 15px; /*modif*/
  }
  .logo{
    padding: 20px 0 0 15px;
    margin-bottom: 25px;
    width: fit-content;
    align-content: stretch;
  }
  a#Activités.navlink-button{
    padding-left: 26px;
  }
  a#Hébergement.navlink-button{
    padding-right: 15px;
  }
  .navlink-button{
    width:102px;
  }
  .nav{
    padding-bottom: 15px;
    border-bottom: solid 3px #F2F2F2 ; 
    margin-bottom: 15px;
  }
  .nav:hover {
    border-bottom: solid #0065FF;
    border-top: transparent;
    color: #0065FF;
  }
  .header{
    flex-direction: column;
  }
  .menulogin-button{
    position: absolute;
    right: 0px;
    top: 30px;
  }
  .nav-and-connect{
    flex-direction: row;
  }
  .announcement{
    padding: 0 20px 15px 15px;
    margin-bottom: 0;
    font-size: 22px;
  }
  .promo{
    padding-left: 15px;
    margin-top: 0;
  }
  .search-bar{
    margin-top: 40px;
    padding-left: 15px;
  }
  .search-bar-typing{
    width: auto;
  }
  input:focus{
    outline: none;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    /* border-color: #F2F2F2; */
  }
  ::placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: large;
    color: black;
    opacity: 1; /* Firefox */
  }
  input:focus::placeholder{
    color:transparent;
  }
  .search-bar-button{
    border-radius: 16px 16px 16px 16px;
    margin-left: -12px;
    padding: 0;
    width: 60px;
  }
  .search-bar-button-text{
    display: none;
  }
  .search-icon{
    display: initial;
  }
  .fa-search{
    color: #FFFFFF;
    font-size: 17px;
  }
  .filter-title{
    margin: 0 0 10px 20px;
  }
  .filters{
    flex-direction: column;
    margin-left: 10px;
    justify-content: flex-start;
  }
  .filter-buttons{
    flex-wrap:wrap;
    justify-content: flex-start;
  } 
  .filter-button{
    margin: 8px 4px;
    padding: 0;
    font-size: medium;
  }
  .info-container{
    margin: 25px 20px 20px 15px;
  }
  .info-button{
    margin-right: 15px;
  }
  .hotels{
    flex-direction: column-reverse;
    margin: 0 0;
  }
  .popular-title{
    margin-left: 5px;
  }
  .popular{
    justify-content: center;
    margin: 0 0;
    padding: 0 20px 35px 20px;
    border-radius: 0;
    width:unset;
  }
  .fa-chart-line {
    padding-right: 0px;
    margin-right: 10px;
   
  }
  .card-popular{
    width: unset;
    margin: 6px 4px;
  }
  .accomodation{
    background-color: unset;
    margin: 0 0;
    padding: 0px 0px;
    width: 320px;
  }
  .card-accomodation{
    margin: 10px 10px 10px 20px;
    width: 100%;
  }
  .accomodationimg{
    width: 100%;
  }
  .more-accomodation{
    font-size: 22px;
    margin-left: 25px;
  }
  .activities-title{
    font-size: 24px;
    margin: 0 0 0 20px;
    float: left;
  }
  .activities{
    flex-direction: column;
    width: 325px;
    margin: 0;
  }
  .card-activities{
    margin: 22px 22px 5px;
    width: 100%;
  }
  .activities-port-img{
    width: 100%;
    height: 133px;
    object-fit: cover;
  }
  .activities-fort-img{
    width: 100%;
    height: 133px;
    object-fit: cover;
  }
  .activities-island-img{
    width: 100%;
    height: 133px;
    object-fit: cover;
  }
  .activities-calanques-img{
    width: 100%;
    height: 133px;
    object-fit: cover;
    object-position: 0 -13px;
  }
  .activities-notre-dame-img{
    width: 100%;
    height: 133px;
    object-fit: cover;
    object-position: 0 -10px;
  }
  .activities-longchamp-img{
    width: 100%;
    height: 133px;
    object-fit: cover;
    object-position:0 -25px;
  }
  .page-bottom{
    flex-direction: column;
    padding-bottom: 40px;
  }
  .bottom{
    height: auto;
    width: auto; /*modif*/
  }

}
/* // Medium devices (tablets, 768px and up) */
@media screen and (max-width: 992px) and (min-width: 602px){
  input:focus{
    outline: none;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
  }
  ::placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: large;
    color: black;
    opacity: 1; /* Firefox */
  }
  input:focus::placeholder{
    color:transparent;
  }
  .filters{
    flex-direction: column;
  }
  .filter-title{
    margin-left: 15px;
  }
  .filter-buttons{
  margin-right: 0;
  display: grid;
  grid-template-columns: 200px 300px;
  grid-template-rows: auto;
  grid-template-areas: 
  "filter-button filter-button"
  "filter-button filter-button";
  column-gap: 20px;
  row-gap: 1px;
  margin-right: 140px;
  }
  .hotels{
    flex-direction: column-reverse;
  }
  .popular {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: auto;
  grid-template-areas: 
  "a . ."
  "b c d";
  margin: 0 0 0 -27px;
  padding: 0 0 30px 0px;
  border-radius: 0;
  width: 773px;
  }
  .one{
    grid-area: b;
  }
  .two{
    grid-area: c;
  }
  .tree{
    grid-area: d;
  }
  .fa-chart-line{
    position: absolute;
    padding-left: 15px;
    padding-top: 2px;
  }
  .popular-title{
    grid-area: a;
    margin: 0;
    padding: 40px 0 20px 25px;
  }
  .card-popular-title.one{
    margin-bottom: 25px;
  }
  .card-popular-title.tree{
    margin-bottom: 25px;
  }
  .card-popular{
    width: 236px;
    height: 240px;
    border-radius: 20px;
    padding: 5px 5px 8px;
    line-height: 7px;
    display: inline-block;
    margin: 16px;
  }
  .popularimg{
    width:236px;
    border-radius: 16px 16px 0 0;
  }
  .popular-container{
    line-height: 15px;
  }
 .popular-tarif{
   line-height: 20px;
 }
 .popular-stars.two{
  margin-top: 3px;
 }
 .popular-stars{
  margin-top: 3px;
 }
  .accomodation{
    width:765px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-left: -18px;
    border-radius: 0;
  }
  .cards{
  display: grid;
  grid-template-columns: 380px 380px;
  grid-template-rows:auto;
  grid-template-areas: 
  "card-accomodation    card-accomodation"
  "card-accomodation     card-accomodation"
  "card-accomodation     card-accomodation";
  }
  .card-accomodation{
    width:336px;
  }
  .accomodationimg{
    width:100%;
  }
  .activities-title{
    padding-right: 500px;
    margin-bottom: 20px;
  }
  .activities{
    display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows:auto;
  grid-template-areas: 
  "a b"
  "d c";
  column-gap: 15px;
  row-gap: 5px;
  }
  .activities-port{
    grid-area: a;
  }
  .actvivities-fort-island{
    grid-area: b;   
  }
  .activities-calanques{
    grid-area: c;
  }
  .activities-garde-longchamp{
    grid-area: d;
  }
  .activities-longchamp-img{
    height: 145px;
  }
  .activities-fort-img{
    height: 174px;
  }
  
  
  .page-bottom{
    padding-bottom: 100px !important;
    height: 200px;
    display: grid;
    grid-template-columns: 270px 250px 250px;
    grid-template-rows:auto;
    grid-template-areas: 
    "bottom  bottom  bottom";
  }

}